.Login{
    margin:0;
    height:100%;
    padding: 0;
}
.Header{
    background: linear-gradient(180deg,rgba(0,0,0,.5) 0,transparent);
    border-bottom: transparent;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.Header img{
    
    vertical-align: middle;
    width: 167px;
     display: inline-block;
    vertical-align: middle;
}
.bgImage{
    background-size: cover;
    display: block;
   
    overflow: hidden;
    position: absolute;
    margin-top:-9px;
    margin-left:-12px;
    z-index: -1;
}
.form{
    max-width: 450px;
    min-height: 570px;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
    margin:0 auto;
    padding: 0 73px;
    box-sizing: border-box;
    background-color: rgba(0, 0 ,0 ,0.7);
}
.formData::before{
    content: "";
    display: block;
    height: 91px;
}
.form h2,input,button{
   width:100%;
}
.form h2{
   
    color: white;
   
    font-family: math;
    font-size: 38px;
}
.form input{
    width: 100%;
    line-height: 50px;
    color: #bcbcbc;
    height: 50px;
    border-radius: 6px;
    background-color: #373535;
    margin: 10px 0px;
    padding: 4px 15px;
    box-sizing: border-box;
    font-size:16px;
}
.form ::placeholder{
    color: #bcbcbc;
}
.form button{
    
    background-color: red;
    border-radius: 6px;
    margin: 24px 0px;
    color: white;
    font-size: larger;
    padding: 12px 34px;
    cursor: pointer;
}
.new-User p{
    color: #bcbcbc;
    font-size: 17px;
    font-family: math;
}

.new-User p span{
    color: white;
    cursor: pointer;
}

.errmessage{
    color:red;
}

.signOut{
    float: right;
    width: 92px;
    height: 45px;
    margin: 12px 15px;
    border: none;
    cursor: pointer;
   
}
.span-text{
    
    font-size: 17px;
    color: red;
}
 .span-text:hover{
    border-bottom: 1px solid black;
}